@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
  background-color: #050505;
}

body {
  background-color: #050505;
  color: #ededed;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}